<h1>Annual Salary Calculator</h1>
<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Employee Id:</div>
      <div class='col-md-4'>
        <input type='text'>
      </div>
    </div>
    <div class='row'>
      <button class='btn btn-primary'
              (click)='calculateAnnualSalary()'>
        Get Employees
      </button>
    </div>
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf="clickEvent && employees">
      <thead>
        <tr>
          <th>Annual Salary</th>
          <th>Employee Id</th>
          <th>Name</th>
          <th>Contract</th>
          <th>Role</th>
          <th>HourlySalary</th>
          <th>MonthlySalary</th>
        </tr>
      </thead>
      <tbody *ngIf='clickEvent'>
        <tr *ngFor='let employee of filteredEmployees'>
          <td>{{ employee.annualSalary | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.contractTypeName }}</td>
          <td>{{ employee.roleName }}</td>
          <td>{{ employee.hourlySalary | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{ employee.monthlySalary | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="clickEvent && employees"><em>Employees annual salary is calculated depending on the type of contract.</em></p>
  <div *ngIf="clickEvent && employees" class='row'>
    <div class='col-md-2'>Filter by Id:</div>
    <div class='col-md-4'>
      <input type='text'
             [(ngModel)]='listFilter'>
    </div>
  </div>
</div>
