<h1>Annual Salary Calculator</h1>
<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Employee Id:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='_employeId'>
      </div>
    </div>
    <div class='row'>
      <button class='btn btn-primary'
              (click)='calculateAnnualSalary()'>
        Get Employees
      </button>
    </div>
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf="employees.length">
      <thead>
        <tr>
          <th>Annual Salary</th>
          <th>Employee Id</th>
          <th>Name</th>
          <th>Contract</th>
          <th>Role</th>
          <th>HourlySalary</th>
          <th>MonthlySalary</th>
        </tr>
      </thead>
      <tbody *ngIf='employees.length'>
        <tr *ngFor='let employee of employees'>
          <td>{{ employee.annualSalary | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.contractTypeName }}</td>
          <td>{{ employee.roleName }}</td>
          <td>{{ employee.hourlySalary | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{ employee.monthlySalary | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="employees.length"><em>Employee annual salary is calculated depending on the type of contract this way:</em></p>
  <p *ngIf="employees.length"><em>For Hourly Salary Employees the Annual Salary is: 120 * HourlySalary * 12</em></p>
  <p *ngIf="employees.length"><em>For Monthly Salary Employees the Annual Salary is: MonthtlySalary * 12</em></p>
</div>
